<a href="/men/{{item.product_name}}">
<div class="card">
            <div class="img">
                {{#if item}}
                <img src="{{item.product_image_url}}" alt="Chetan Waghade">
                {{else}}
                <p>Still Loading</p>
                {{/if}}
            </div>
            <div class="description">
                <h3>{{item.product_name}}</h3>
                <b><p>$ {{item.product_price}} </p></b> 
            </div>
            {{!-- <div class="controls">
                <div class="quantity">
                    <button>-</button>
                    <span>1</span>
                    <button>+</button>
                </div>
                <div class="actions">
                    <button>Add +</button>
                </div>
            </div> --}}
</div>
</a>